In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('data/user-001.parquet')

In [5]:
df

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2105592,4QGxxakRZeOlg_qDuxmTeQ,Jennilee,38,2012-01-19 23:33:02,74,9,6,,kmwNG5LZSHFmveg6wYYdrw,0,...,1,0,0,0,1,4,0,0,1,0
2105593,tmelBbVBGAzXBVfH2u_R6g,Gerry,19,2009-06-09 16:34:54,14,5,2,,"BFYdCAMFyjYHDwesndEXEg, _9fTIqfSJc7g3V_o76XRVg...",1,...,1,0,0,0,0,1,0,0,0,0
2105594,tpBznnD6uJN3m_pJubj09w,Emily,26,2013-08-13 23:18:11,4,1,2,,"bKV3ly2MuK-K1cptMrFknQ, liel18zRoSB4tEkUP7i6Cg...",0,...,0,0,0,0,1,0,0,0,0,0
2105595,Kst_srPw7GdYydMFYdCtzw,Heatheranne,25,2015-01-10 00:06:25,21,2,5,,"dzHTk52vbGtbktRm_B-wEg, fOfFLV7IbBDN6lzARaLqdg...",0,...,0,0,0,0,0,1,0,0,0,0
2105596,mZl-mH3ZIWLRSd_FfvrXFg,Jessica,30,2015-11-30 21:10:17,27,1,17,,"pou3BbKsIozfH50rxmnMew, JT3rDC7-hprCSObnihMeHw...",3,...,0,1,0,0,0,1,0,0,1,0

In [4]:
df.shape

(2105597, 22)

In [4]:
#Verificacion de nulos
df.isnull().sum()

user_id               0
name                  0
review_count          0
yelping_since         0
useful                0
funny                 0
cool                  0
elite                 0
friends               0
fans                  0
average_stars         0
compliment_hot        0
compliment_more       0
compliment_profile    0
compliment_cute       0
compliment_list       0
compliment_note       0
compliment_plain      0
compliment_cool       0
compliment_funny      0
compliment_writer     0
compliment_photos     0
dtype: int64

In [6]:
#Verificacion de duplicados 
df.duplicated().sum()

np.int64(117700)

In [7]:
#Numero de reseñas
df['review_count'].sum()

np.int64(59943715)

In [6]:
# numero de votos marcados como  funny
df['funny'].sum()

np.int64(47747928)

In [7]:
# numero  de votos marcados como useful
df['useful'].sum()

np.int64(116162692)

In [8]:
# numero  de votos marcados como cool
df['cool'].sum()

np.int64(66179194)

In [9]:
total_votos = df['cool'].sum() + df['useful'].sum() + df['funny'].sum()

In [12]:
total_votos

np.int64(230089814)

In [11]:
print(" Porcentaje de votos segun su categoria:")
print("useful: ",(df['useful'].sum()/total_votos)*100)
print("funny: ",(df['funny'].sum()/total_votos)*100)
print("cool: ",(df['cool'].sum()/total_votos)*100)

 Porcentaje de votos segun su categoria:
useful:  50.485803773999315
funny:  20.7518651825239
cool:  28.762331043476784

#### EDA Fechas

In [13]:
df['fecha_ingreso'] = pd.to_datetime(df['yelping_since'])

In [19]:
df['fecha_ingreso'].iloc[0]

Timestamp('2007-01-25 16:47:26')

In [20]:
df_fechas = pd.DataFrame(columns =['Año','Mes','Dia','Hora','Minuto','Segundo'])

In [ ]:
j=0
i=0
lista_operaciones = [df['fecha_ingreso'].iloc[i].year ,df['fecha_ingreso'].iloc[i].month,df['fecha_ingreso'].iloc[i].day,df['fecha_ingreso'].iloc[i].hour,df['fecha_ingreso'].iloc[i].minute,df['fecha_ingreso'].iloc[i].second]
for columna in df_fechas.columns:

    for i in df.shape[0]:
        df_fechas['Año'] = df['fecha_ingreso'].iloc[i].year

In [31]:
lis = []
for i in range(0,df.shape[0],1):
        lis.append( df['fecha_ingreso'].iloc[i].year)

df_fechas['Año'] = lis

In [39]:
lis = []
for i in range(0,df.shape[0],1):
        lis.append(df['fecha_ingreso'].iloc[i].month)

df_fechas['Mes'] = lis

In [34]:
lis =[]
for i in range(0,df.shape[0],1):
        lis.append(df['fecha_ingreso'].iloc[i].day)

df_fechas['Dia'] = lis

In [40]:
lis =[]
for i in range(0,df.shape[0],1):
        lis.append(df['fecha_ingreso'].iloc[i].hour)


df_fechas['Hora'] = lis

In [37]:
df['fecha_ingreso'].iloc[0].month

1

In [41]:
df_fechas

          Año  Mes  Dia  Hora Minuto Segundo
0        2007    1   25    16    NaN     NaN
1        2009    1   25     4    NaN     NaN
2        2008    7   25    10    NaN     NaN
3        2005   11   29     4    NaN     NaN
4        2007    1    5    19    NaN     NaN
...       ...  ...  ...   ...    ...     ...
2105592  2012    1   19    23    NaN     NaN
2105593  2009    6    9    16    NaN     NaN
2105594  2013    8   13    23    NaN     NaN
2105595  2015    1   10     0    NaN     NaN
2105596  2015   11   30    21    NaN     NaN

[2105597 rows x 6 columns]