## Archivo Yelp - Checkin.json

In [7]:
# Traemos las librerias
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import json 
import warnings
warnings.filterwarnings('ignore')

In [4]:
# traemos la data 
data = "D:\Documentos\Courses\Henry\Henry Students\Labs\Cohorte 09\PF_Google_Yelp\EDA_preliminar\Google_Maps\Data\checkin.json"

In [8]:
def abrir_json(ruta):
    datos =[]
    with open(ruta, "r") as file:
        lines = file.readlines()
        for line in lines:
            try:
                data = json.loads(line)
                datos.append(data)
            except json.JSONDecodeError:
                print("linea invalida", line)
    # Convertir la lista de datos a un DataFrame
    df = pd.DataFrame(datos)
    return df

In [9]:
abrir_json("D:\Documentos\Courses\Henry\Henry Students\Labs\Cohorte 09\PF_Google_Yelp\EDA_preliminar\Google_Maps\Data\checkin.json")

,business_id,date
0,---kPU91CF4Lq2-WlRu9Lw,"2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020..."
1,--0iUa4sNDFiZFrAdIWhZQ,"2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011..."
2,--30_8IhuyMHbSOcNWd6DQ,"2013-06-14 23:29:17, 2014-08-13 23:20:22"
3,--7PUidqRWpRSpXebiyxTg,"2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012..."
4,--7jw19RH9JKXgFohspgQw,"2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014..."
...,...,...
131925,zznJox6-nmXlGYNWgTDwQQ,"2013-03-23 16:22:47, 2013-04-07 02:03:12, 2013..."
131926,zznZqH9CiAznbkV6fXyHWA,2021-06-12 01:16:12
131927,zzu6_r3DxBJuXcjnOYVdTw,"2011-05-24 01:35:13, 2012-01-01 23:44:33, 2012..."
131928,zzw66H6hVjXQEt0Js3Mo4A,"2016-12-03 23:33:26, 2018-12-02 19:08:45"
131929,zzyx5x0Z7xXWWvWnZFuxlQ,2015-01-06 17:51:53

In [11]:
# vamos a crear funciones para saber cuantos duplicados, faltantes tenemos en los conjuntos de datos
def null(df, decimales=2):
    # cantidad de null + % 
    df_nulos = pd.DataFrame({
        "Numeros de nulos" : df.isnull().sum(),
        "Porcentaje de nulos" : (df.isnull().sum() / df.shape[0]) * 100.0 # # Calcula el porcentaje de valores faltantes en la columna
    })
    # Convierte el porcentaje a cadena y añade el símbolo de porcentaje
    df_nulos['Porcentaje de nulos'] = df_nulos['Porcentaje de nulos'].round(decimales).astype(str) + "%"
    return df_nulos


def suma_duplicados(df, decimales=2):
    # Identifica las filas duplicadas
    duplicados = df[df.duplicated()]
    
    # Inicializa diccionarios para almacenar los resultados
    num_duplicados = {}
    porcentaje_duplicados = {}
    
    for col in df.columns:
        # Cuenta el número de duplicados en la columna
        num_duplicados[col] = duplicados[col].count()
        
        # Calcula el porcentaje de duplicados en la columna
        porcentaje_duplicados[col] = (num_duplicados[col] / df.shape[0]) * 100.0
    
    # Crea un DataFrame para los resultados
    df_duplicados = pd.DataFrame({
        "Numero de Duplicados": pd.Series(num_duplicados),
        "Porcentaje de Duplicados": pd.Series(porcentaje_duplicados)
    })
    
    # Convierte el porcentaje a cadena y añade el símbolo de porcentaje
    df_duplicados["Porcentaje de Duplicados"] = df_duplicados["Porcentaje de Duplicados"].round(decimales).astype(str) + "%"
        
    return df_duplicados

In [14]:
null(df)

             Numeros de nulos Porcentaje de nulos
business_id                 0                0.0%
date                        0                0.0%

In [15]:
suma_duplicados(df)

             Numero de Duplicados Porcentaje de Duplicados
business_id                     0                     0.0%
date                            0                     0.0%