In [34]:
import pandas as pd

In [35]:
lista_df_Georgia = []

for i in range(1,14,1):
   
    lista_df_Georgia.append(pd.read_json(f"review-Georgia/{i}.json",lines=True))

In [36]:
df_Georgia = pd.DataFrame()

In [37]:

df_Georgia = pd.concat(lista_df_Georgia,axis=0)

In [38]:
df_Georgia

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.042277e+20,Brent Powell,1599604812269,5,Great hometown folk. Rob takes good care of al...,None,None,0x88f16e41928ff687:0x883dad4fd048e8f8
1,1.055723e+20,Evan Thomas,1502078169146,5,Very friendly hometown pharmarcy. Always helpf...,None,None,0x88f16e41928ff687:0x883dad4fd048e8f8
2,1.039554e+20,Caleb Howell,1502571430852,5,None,None,None,0x88f16e41928ff687:0x883dad4fd048e8f8
3,1.069746e+20,ashlee crawford,1494161075405,5,None,None,None,0x88f16e41928ff687:0x883dad4fd048e8f8
4,1.048457e+20,T Paulk,1495139229501,5,None,None,None,0x88f16e41928ff687:0x883dad4fd048e8f8
...,...,...,...,...,...,...,...,...
149995,1.133385e+20,Love The Hippy,1599323314859,4,Awesome place!!,None,None,0x8860748c546fef29:0x83a1ffb0a44a9d26
149996,1.182398e+20,Roger Conry,1583468426655,4,They always treat me well,None,"{'time': 1583509072191, 'text': 'roger , ido p...",0x8860748c546fef29:0x83a1ffb0a44a9d26
149997,1.069748e+20,Kristina Fusco,1550553451577,5,Very friendly and would 100% go to again. They...,None,None,0x8860748c546fef29:0x83a1ffb0a44a9d26
149998,1.020953e+20,Georgiagirl,1525789761757,1,The owner is rude and acts like she knows ever...,None,None,0x8860748c546fef29:0x83a1ffb0a44a9d26
149999,1.055816e+20,Larry Thrasher,1559411933300,4,Good service today.Thank you.,None,None,0x8860748c546fef29:0x83a1ffb0a44a9d26

In [39]:
# TamaÃ±o de la data
df_Georgia.shape

(1950000, 8)

In [40]:
# Cantidad de nulos por columna
df_Georgia.isnull().sum()

user_id          0
name             0
time             0
rating           0
text        800503
pics       1897161
resp       1660958
gmap_id          0
dtype: int64

In [41]:
# Borramos los valores nulos de text
df_Georgia.dropna(subset='text',inplace=True)

In [42]:
# Revision de duplucados

df_Georgia.duplicated(subset=['name','user_id','text']).sum()

np.int64(59253)

In [43]:
#Cantidad Valoraciones

valoraciones =df_Georgia['rating'].value_counts().sort_index()

In [44]:
valoraciones

rating
1    106892
2     43223
3     78604
4    170541
5    750237
Name: count, dtype: int64

In [45]:
# porcentaje de raiting

for i in range(1,6,1):
    print(f"Porcentaje {i}: ",(valoraciones[i]/df_Georgia.shape[0]) * 100,"%")

Porcentaje 1:  9.299023833903004 %
Porcentaje 2:  3.7601664032181037 %
Porcentaje 3:  6.83812136960775 %
Porcentaje 4:  14.83614137313973 %
Porcentaje 5:  65.26654702013141 %

In [46]:
# porcentaje data utilizable

data_utlizable = (df_Georgia.shape[0] / 1950000 ) * 100

print("Data utlizable Georgia= ",data_utlizable,"%")

Data utlizable Georgia=  58.948564102564106 %

### Analisis sentimientos Georgia

In [14]:
from textblob import TextBlob

def analyze_sentiment(text):
    analysis = TextBlob(text)
    if analysis.sentiment.polarity > 0:
        return 'positivo'
    elif analysis.sentiment.polarity == 0:
        return 'neutro'
    else:
        return 'negativo'

df_Georgia['sentimiento'] = df_Georgia['text'].apply(analyze_sentiment)

# Contar la frecuencia de cada sentimiento
sentiment_counts = df_Georgia['sentimiento'].value_counts()

In [15]:
comentarios = 0

for i in range(0,len(sentiment_counts),1):

        print(f'{sentiment_counts.index[i]} : ',(sentiment_counts.iloc[i] / df_Georgia.shape[0] ) * 100 )

positivo :  82.44727911425606
negativo :  9.712770020278434
neutro :  7.839950865465503

### Frecuencia palabra Georgia

In [47]:
from collections import Counter
import re


articulos = ['a','and','an','the','this','that','these','those','my','your','his','her','its','our','their','to','i','some','any','each','no','many',' ','was','is','for','of','they','in','it','you','with','have','are','very','on','me','but','not']

# combinacion de la columna tex en un solo string

text_combined = ' '.join(df_Georgia['text'])


# Eliminar puntuaciÃ³n y convertir a minÃºsculas
text_cleaned = re.sub(r'[^\w\s]', '', text_combined.lower())

# Dividir la cadena en palabras
words = text_cleaned.split()

#Eliminar articulos
text_filter = [word for word in words if word not in articulos]

# Contar la frecuencia de cada palabra
word_counts = Counter(text_filter)

# Obtener las palabras mÃ¡s frecuentes
most_common_words = word_counts.most_common(5)  # Cambia 5 por el nÃºmero de palabras que quieres ver


print(most_common_words)

[('great', 335594), ('service', 219835), ('good', 212716), ('food', 177828), ('place', 170788)]

### Texas

In [4]:
# Carga
lista_df_Texas = []

for i in range(1,17,1):
   
    lista_df_Texas.append(pd.read_json(f"review-Texas/{i}.json",lines=True))

In [5]:
df_Texas = pd.DataFrame()

In [6]:

df_Texas = pd.concat(lista_df_Texas,axis=0)

In [7]:
df_Texas

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.105453e+20,Kimberly Feger,1625431734826,5,"The pharmacist, Erin, is phenomenal. She was s...",None,None,0x864c3998b8d8dc83:0x57ffabe1e2322320
1,1.036198e+20,Briana Streit,1568336283913,2,I gave them 2 stars because they offer prescri...,None,None,0x864c3998b8d8dc83:0x57ffabe1e2322320
2,1.019167e+20,Sylvia Caudillo,1519873586872,1,If I could put minus stars I would. This has t...,None,None,0x864c3998b8d8dc83:0x57ffabe1e2322320
3,1.178709e+20,Ginger Kinyon,1571638384637,1,Please fix your restroom doors,None,None,0x864c3998b8d8dc83:0x57ffabe1e2322320
4,1.103973e+20,Angeles Arellano,1546568877087,1,This pharmacy Walmart dose not work not come a...,None,None,0x864c3998b8d8dc83:0x57ffabe1e2322320
...,...,...,...,...,...,...,...,...
46819,1.162897e+20,Alfredo Gonzalez,1539998441571,4,None,None,None,0x8705b6b8981c266d:0x5770fa9f1b6c0b1a
46820,1.059138e+20,Michael Claudio,1579034525104,5,None,None,None,0x8705b6b8981c266d:0x5770fa9f1b6c0b1a
46821,1.124842e+20,Juan Cruz,1558362918171,4,None,None,None,0x8705b6b8981c266d:0x5770fa9f1b6c0b1a
46822,1.174599e+20,Joel Rodriguez,1601477255399,5,None,None,None,0x8705b6b8981c266d:0x5770fa9f1b6c0b1a
46823,1.038504e+20,Rocky Barerra,1561698360190,5,None,None,None,0x8705b6b8981c266d:0x5770fa9f1b6c0b1a

In [8]:
df_Texas.shape

(2296824, 8)

In [9]:
# Cantidad de nulos por columna
df_Texas.isnull().sum()

user_id          0
name             0
time             0
rating           0
text        919209
pics       2228515
resp       1921986
gmap_id          0
dtype: int64

In [10]:
# Borramos los valores nulos de text
df_Texas.dropna(subset='text',inplace=True)

In [11]:
# Revision de duplucados

df_Texas.duplicated(subset=['name','user_id','text']).sum()

np.int64(60298)

In [12]:
#Cantidad Valoraciones

valoraciones_tx =df_Texas['rating'].value_counts().sort_index()

In [13]:
valoraciones_tx

rating
1    143328
2     47213
3     83285
4    181816
5    921973
Name: count, dtype: int64

In [14]:
# porcentaje de raiting

for i in range(1,6,1):
    print(f"Porcentaje {i}: ",(valoraciones_tx[i]/df_Texas.shape[0]) * 100,"%")

Porcentaje 1:  10.404067899957536 %
Porcentaje 2:  3.4271549017686365 %
Porcentaje 3:  6.045593289852389 %
Porcentaje 4:  13.19788184652461 %
Porcentaje 5:  66.92530206189683 %

In [15]:
# porcentaje data utilizable

data_utlizable_tx = (df_Texas.shape[0] / 2296824 ) * 100

print("Data utlizable Texas= ",data_utlizable_tx,"%")

Data utlizable Texas=  59.97912769981505 %

### Analisis sentimientos Texas

In [16]:
from textblob import TextBlob

def analyze_sentiment(text):
    analysis = TextBlob(text)
    if analysis.sentiment.polarity > 0:
        return 'positivo'
    elif analysis.sentiment.polarity == 0:
        return 'neutro'
    else:
        return 'negativo'

df_Texas['sentimiento'] = df_Texas['text'].apply(analyze_sentiment)

# Contar la frecuencia de cada sentimiento
sentiment_counts_tex = df_Texas['sentimiento'].value_counts()

In [18]:
comentarios = 0

for i in range(0,len(sentiment_counts_tex),1):

        print(f'{sentiment_counts_tex.index[i]} : ',(sentiment_counts_tex.iloc[i] / df_Texas.shape[0] ) * 100 )

positivo :  83.09135716437466
negativo :  9.558693829553249
neutro :  7.349949006072089

### Frecuencia palabras Texas

In [32]:
from collections import Counter
import re


articulos = ['a','and','an','the','this','that','these','those','my','your','his','her','its','our','their','to','i','some','any','each','no','many',' ','was','is','for','of','they','in','it','you','with','have','are','very','on','me','but','not']

# combinacion de la columna tex en un solo string

text_combined = ' '.join(df_Texas['text'])


# Eliminar puntuaciÃ³n y convertir a minÃºsculas
text_cleaned = re.sub(r'[^\w\s]', '', text_combined.lower())

# Dividir la cadena en palabras
words = text_cleaned.split()

#Eliminar articulos
text_filter = [word for word in words if word not in articulos]

# Contar la frecuencia de cada palabra
word_counts = Counter(text_filter)

# Obtener las palabras mÃ¡s frecuentes
most_common_words = word_counts.most_common(5)  # Cambia 5 por el nÃºmero de palabras que quieres ver


print(most_common_words)

[('great', 387658), ('good', 267060), ('service', 259108), ('place', 235105), ('had', 188442)]